.card-title {
    background-color:blue;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    position: relative;
    height: 56%;
}
div .card {
    padding:15px;
    border:solid 1px;
    margin:5px;
}

div .image {
    width:840px;
    overflow:hidden;
}



.add {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 4px;
    color: #FFF !important;
    text-decoration: none;
}