div.card-header {
    
    background-color:#31a6ea;
    color: #FFF;
    font-size: 40px;
    position: relative;
    padding: 5px;
    margin-bottom:10px;
}
div.title {
    width:60%;
    display:inline-block;
}
div.subtitle{
    text-align: right;
    font-size: 18px;
    width:37%;
    display:inline-block;
}
div.card {
    border:solid 1px;
    margin:10px;
    width:840px
}

div.image {
    margin-top:10px;
    width:840px;
    overflow:hidden;
}
div#header {
    padding:10px;
    margin-bottom:25px;
}

h4 {
    padding: 0px;
    margin: 0px;
    padding-bottom : 5px;
}
span.level {
    width: 65px;
    display: inline-block;
}

span.label {
    width: 160px;
    display: inline-block;
}

a {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 4px;
    color: #FFF !important;
    text-decoration: none;
}

.delete {
    background-color: #d74e55;
    font-size:12px;
    margin-left:12px;
    text-align:right;
}

.add {
    background-color:#31a6ea;
}


div#error {
    color : red;
    border:solid 1px;
    margin:10px;
    padding:10px;
    width:800px
}

form li {
   list-style-type: none;
}