    <html>
    <script type='text/Javascript'>
    function check_checkbox(id_user,id_checkbox, pf_value)  {
        if(document.getElementById(id_checkbox).checked == true) {
            document.getElementById("PF_"+id_user).innerHTML=parseInt(document.getElementById("PF_"+id_user).innerHTML)-pf_value;
        }
        else{
            document.getElementById("PF_"+id_user).innerHTML=parseInt(document.getElementById("PF_"+id_user).innerHTML)+pf_value;
        }
        malus = parseInt(document.getElementById("PF_init_"+id_user).innerHTML)-
            parseInt(document.getElementById("PF_"+id_user).innerHTML);
        document.getElementById("img_corps_"+id_user).style.paddingLeft=malus*30+'px'
        document.getElementById("malus_"+id_user).innerHTML=malus;
        update_fatigue(id_user)
    }
</script>
<script type='text/Javascript'>
    function update_fatigue(id) {
        xmlhttp = new XMLHttpRequest();
        var url = "/api/user/"+id+"/update";
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var bl =  count_checked('[id^=checkbox_bl_'+id+']');
        var bg =  count_checked('[id^=checkbox_bg_'+id+']');
        var bf =  count_checked('[id^=checkbox_bf_'+id+']');
        var ms =  count_checked('[id^=checkbox_ms_'+id+']');
        var postdata= "bl="+bl+"&bg="+bg+"&bf="+bf+"&ms="+ms;
        xmlhttp.send(postdata);
    }
</script>
<script type='text/Javascript'>
    function count_checked(id) {
        var boutons = document.querySelectorAll(id);
        var nbChecked = 0;
        for (var i = 0; i< boutons.length; i++)
        {
            if (boutons[i].checked)
            {
                nbChecked += 1;
            }
        }
        return nbChecked
    }
</script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <body>
    <div id="header">
    <a href="/">Retour</a>
    <a href="{{group}}/create" class="add">Ajouter un PJ</a>
    </div>
    {% for result in results %}
    <div class="card">
    <div class="card-header">
    <div class="title">{{result.name}}
</div>
    <div class="subtitle"> PF
:   <span id="PF_{{result.id}}">{{result.pf - result.bl - 2 * result.bg - 4 * result.bf - 12 * result.ms }}</span>
    / <span id="PF_init_{{result.id}}">{{result.pf}}</span>
    Malus :  <span id="malus_{{result.id}}">{{result.bl + 2 * result.bg + 4 * result.bf + 12 * result.ms}}</span>
    <a href="{{group}}/{{result.id}}/delete" class="delete">X</a>

</div>
    </div>
    <div>
    <h4>Modificateurs de conditions :</h4>
    <span class="level"> BL :  {{result.bluser}}</span>
    {% for i in range(0,7) %}
    <input id="checkbox_bl_{{result.id}}_{{i}}" type="checkbox"
onClick='check_checkbox({{result.id}},
"checkbox_bl_{{result.id}}_{{i}}", 1);'
      {%if i<result.bl %}
   checked
{% endif %}
/>
{% endfor %}
</div>
    <div>
    <span class="level"> BG :  {{result.bluser *2}}</span>
    {% for i in range(0,5) %}
    <input id="checkbox_bg_{{result.id}}_{{i}}" type="checkbox"
onClick='check_checkbox({{result.id}},
"checkbox_bg_{{result.id}}_{{i}}", 2);'
{%if i<result.bg %}
   checked
  {% endif %}
    />
    {% endfor %}
</div>
    <div>
    <span class="level"> BF :  {{result.bluser *3}}</span>
    {% for i in range(0,3) %}
    <input id="checkbox_bf_{{result.id}}_{{i}}" type="checkbox"
onClick='check_checkbox({{result.id}}, "checkbox_bf_{{result.id}}_{{i}}", 4);'
{%if i<result.bf %}
   checked
  {% endif %}
    />
    {% endfor %}
</div>
    <div>
    <span class="level"> MS :  {{result.bluser *4}}</span>
    {% for i in range(0,2) %}
    <input id="checkbox_ms_{{result.id}}_{{i}}" type="checkbox"
onClick='check_checkbox({{result.id}},
"checkbox_ms_{{result.id}}_{{i}}", 12);'
      {%if i<result.ms %}
   checked
{% endif %}
    />
    {% endfor %}
</div>
    <div class="image">
    <img id="img_header_{{result.id}}" src="static/img/header.png"/>
    <img id="img_corps_{{result.id}}" src="static/img/corps.png" style="padding-left:{{(result.bl + 2 * result.bg + 4 * result.bf + 12 * result.ms)*30}}px"/>
    </div>
    </div>
    {% endfor %}
    <a href="{{group}}/delete" class="delete" >Supprimer le groupe</a>
    </body>
    </html>
