<html>

<link rel="stylesheet" type="text/css" href="static/main.css">
<body>
   <div id="header">
    <a href="/create" class="add">Ajouter un Groupe</a>
  </div>
  {% for result in results %}
 <div class="card">
  <div class="card-header">
    <div class="title"><a href="{{result.id}}">{{result.nom}}</a></div>
</div></div></div>
{% endfor %}

</body>
</html>
